.peepscontainer{
    height: 400px;
}

.peeps{
    padding: 10px;
    border-bottom: 0.5px solid rgb(199, 199, 199);
}

.peepscontainer > a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.808);
}

.navbuttons{
    float: right;
}

.peopleid, .peoplenames{
    margin: auto 0;
}

.peoplerole{
    margin: auto 0;
    text-align: right;
}
